/*.v-data-table td {
border: 1px solid gray;
}*/
.customTable1 {
    border-radius: 0.3rem !important;
}

.customTable1 th {
background-color: #e0e0e0;
color: #000000;
font-weight: 500 !important;
}

.customTable2 {
    border-radius: 0.3rem !important;
}

.customTable2 th {
background-color: #ad1919;
color: #fff;
font-weight: 500 !important;
}

.customTable2 thead tr:nth-child(2) th{
    background-color: #e0e0e0;
    color: #000000;
    font-weight: 500 !important;
    }

.v-data-table tbody tr:nth-child(even) {
background-color: #f5f5f5; /* Gris clair */
}

.v-data-table tbody tr:nth-child(odd) {
background-color: #FFF; /* Fond blanc */
}